.markdown a {
    color: #2563EB;
}
.markdown h1,h2,h3,h4,h5,h6 {
    margin: 1rem auto;
    font-weight: 500;
}
.markdown p {
    margin: 0.8rem auto;
}
.markdown blockquote {
    background-color: #FEF3C7;
    border-radius: 0.2rem;
    padding: 0.5rem;
}
.markdown ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.markdown ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.markdown pre {
    color: #ffffff;
    background-color: #1f2937;
    padding: 0.5rem;
    border-radius: 0.2rem;
}
.markdown pre code {
    font-family: monospace;
    color: #ffffff;
    background-color: #1f2937;
}
.markdown code {
    font-family: monospace;
    color: #EF4444;
    background-color: #FEF2F2;
    padding: 1px;
    font-size: 14px;
}

.markdown img {
    width: 100%;
    max-width: inherit;
    height: auto;
    margin: 2rem auto;
    border-radius: 0.2rem;
}
.markdown table {
    display: block;
    overflow: auto;
    width: 100%;
}
.markdown thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.markdown tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.markdown table td, .markdown table th {
    border: 1px solid #D1D5DB;
    padding: 6px 13px;
}
