@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
}